#imgPreview {
	width: 200px; 
	max-height: 200px;
	display: block;
}

body {
	background-color: rgb(0, 0, 121);
	color: white;
}

.login {
	margin-bottom: 40px;
}

.password {
	margin-bottom: 20px;
}

.formulaire {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	width: 300px;
	height: 300px;
}